:root {
    --main-black: #02040c;
    --lighter-text: #2e5b6b;
    --main-white: #dfd9e4;
    --main-teal: #65b4d1;
    --main-red: #d20f20;
    --dark-red: #a00a0a;
    --body-background-color: var(--main-white);

    --image-brightness: 100%;
    --image-contrast: 1;

    --accent-red: #a00a0a;
    --secondary-red: #d20f20;

    --argument-spotlight: #2dd6ec4d;

    font-family: 'Fira Sans', sans-serif;
    --text-color: var(--main-black);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: var(--main-black);

        --image-brightness: 80%;
        --image-contrast: 1.1;

        --accent-red: #d20f20;
        --secondary-red: #a00a0a;

        --argument-spotlight: #2dd6ec16;

        --text-color: var(--main-white);
        --lighter-text: #85afbe;
    }
}

body {
    background-color: var(--body-background-color);
}

header {
    height: 100svh;
    display: flex;
    align-items: center;
}

hr {
    border: none;
    height: 10svh;
}

/* element that contains the bg image */

#header-background {
    background-image: url('../media/images/boats-mobile.webp');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    filter: brightness(var(--image-brightness)) contrast(var(--image-contrast));
    top: 0;
    height: 100%;
    width: 100%
}

/* breakpoints to increase image size when viewport width increases */

@media only screen and (min-width: 768px) {
    #header-background {
        background-image: url('../media/images/boats-computer.webp');
    }
}

@media only screen and (min-width: 1920px) {
    #header-background {
        background-image: url('../media/images/boats-uhd.webp');
    }
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    background-image: linear-gradient(0deg, var(--body-background-color), rgba(0, 0, 0, 0) 20rem);
    width: 100%;
    height: 100%;
    top: 0svh;
}

/* gradient bar vertical when in landscape */

@media only screen and (min-aspect-ratio: 1/1) {
    #title {
        background-image: linear-gradient(90deg, var(--body-background-color), rgba(0, 0, 0, 0) 30rem),
            linear-gradient(0deg, var(--body-background-color), rgba(0, 0, 0, 0) 5rem);
    }
}

#you {
    background: linear-gradient(90deg, var(--accent-red), var(--secondary-red));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3em;
    font-family: 'Dancing Script', serif;
}

#header {
    font-size: min(20vw, 15svh);
    color: var(--text-color);
    margin: 0 1rem;
    font-weight: 800;
    text-align: left;
}

#subheader-group {
    font-size: 1rem;
    color: var(--text-color);
    margin: 2rem 1rem;
}

.subheader {
    font-size: 6vw;
    font-weight: 600;
    text-align: left;
}

@keyframes fade-in {
    from {
        filter: opacity(0%)
    }
    to {
        filter: opacity(100%)
    }
}

@keyframes fade-out {
    from {
        filter: opacity(100%)
    }
    to {
        filter: opacity(0%)
    }
}

.argument {
    display: grid;
    grid-template: 2fr 2fr 2fr / 1fr;
    height: 70svh;
    background-image: radial-gradient(circle at 0%, var(--argument-spotlight), rgba(0, 0, 0, 0) 35svh);
}

/* Argument title */

.arg-h-container {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 0.5rem;
    overflow: hidden;
    font-size: 2.5rem;
    color: var(--lighter-text);
    
}

.keyword {
    color: var(--accent-red);
    font-size: 4rem;
}

.keyword::after {
    content: '\a';
    white-space: pre;
}

.h-font1 {
    font-family: 'Sedan Sc', sans-serif;
}

.h-font2 {
    font-family: 'Dancing Script', serif;
}

/* Argument paragraph */

.arg-p-container {
    display: flex;
    align-items: start;
    justify-content: left;
    padding: 40px;
}

.arg-paragraph {
    font-size: 1.5rem;
}

/* Argument button */

.arg-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}